<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui" >
<f:view>
    <h:head>
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>List of Customer</title>
        </f:facet>
    </h:head>
    <f:event type="preRenderView" listener="#{employeeView.editForm}" />
    <h:form id="form">
        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="70" style="border: transparent" >
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-9">
                            <p:outputLabel value="New Employee" style="font-size: 30px"/>
                        </div>
                        <div class="ui-grid-col-2">
                            <p:button value="Back"/>
                        </div>
                    </div>
                </div>
            </p:layoutUnit>

            <p:layoutUnit position="west" size="400" style="border: transparent">

                <div id="firstNameBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px; padding-bottom: 10px">
                    <div class="ui-grid-row" >
                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-3">
                            <h:outputLabel value="First Name:" />
                        </div>
                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-7">
                            <p:inputText id="newFname" required="true" label="Name" value="#{employeeView.employeeEntity.firstName}"
                                         requiredMessage="Please input your first name."
                                         validatorMessage="Please input your first name correctly.">
                                <f:validateLength minimum="3" maximum="20" />
                            </p:inputText>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <p:message for="newFname"/>
                        </div>
                    </div>
                </div>

                <div id="genderBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-3">
                            <h:outputLabel value="Gender:" />
                        </div>

                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-7">
                            <p:selectOneRadio id="gender" value="#{employeeView.employeeEntity.gender}">
                                <f:selectItem itemLabel="Male" itemValue="male" />
                                <f:selectItem itemLabel="Female" itemValue="female" />
                            </p:selectOneRadio>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12"/>
                    </div>

                </div>

                <div id="departmentBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">
                    <div  class="ui-grid-row">
                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-3">
                            <h:outputLabel value="Department:" />
                        </div>

                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-7">
                            <p:selectOneMenu value="#{department.selectedDepartment}" id="department" style="width:125px">
                                <f:selectItem itemLabel="Please select"/>
                                <f:selectItems value="#{department.allDepartment}" var="dep"
                                               itemLabel="#{dep.name}" itemValue="#{dep.id}"/>
                            </p:selectOneMenu>

                        </div>
                    </div>
                </div>

                <div id="telBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-3">
                            <h:outputLabel value="Telephone:" />
                        </div>

                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-7">
                            <p:scrollPanel style="width:200px;height:100px">
                                <p:dataTable id="telephoneDT" value="#{telephoneView.telNoList}"
                                             var="tel" scrollHeight="100">
                                    <p:column headerText="Telephone number">
                                        <h:outputText  value="#{tel}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:scrollPanel>
                        </div>
                    </div>

                    <div  class="ui-grid-row">
                        <div class="ui-grid-col-5"/>
                        <div class="ui-grid-col-3">
                            <!--<p:button value="Add" />-->
                            <p:commandButton value="Add" type="button" onclick="PF('dlg1').show();" />
                        </div>
                    </div>

                </div>

                <div id="nicknameBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-3">
                            <h:outputLabel value="Nick name:" />
                        </div>

                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-7">
                            <p:inputText id="nickname" required="true" label="nickname" value="#{employeeView.employeeEntity.nickName}"
                                         requiredMessage="Please input your nick name."
                                         validatorMessage="Please input your nick name correctly.">
                                <f:validateLength minimum="3" maximum="20" />
                            </p:inputText>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <p:message for="nickname"/>
                        </div>
                    </div>
                </div>

                <div id="commandButtonBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">
                    <div id="buttonBlock" class="ui-grid-row">
                        <div class="ui-grid-col-6"/>
                        <div class="ui-grid-col-4">
                            <p:commandButton ajax="false" process="@form" action="#{employeeView.newEmployee}" value="Save" />
                        </div>
                        <div class="ui-grid-col-4">
                            <p:button outcome="index" value="Cancel" />
                        </div>
                    </div>
                </div>

            </p:layoutUnit>

            <p:layoutUnit position="center" size="400" style="border: transparent">

                <div id="lastNameBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-3">
                            <h:outputLabel value="Last Name:" />
                        </div>

                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-7">
                            <p:inputText id="newlname" required="true" label="lastname" value="#{employeeView.employeeEntity.lastName}"
                                         requiredMessage="Please input your last name."
                                         validatorMessage="Please input your last name correctly.">
                                <f:validateLength minimum="3" maximum="20" />
                            </p:inputText>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <p:message for="newlname"/>
                        </div>
                    </div>

                </div>

                <div id="dobBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-3">
                            <h:outputLabel value="Date of Birth:" />
                        </div>

                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-7">
                            <p:calendar id="dobbutton" showOn="button" value="#{employeeView.employeeEntity.dob}"/>
                            <!--<h:outputLabel value="34"/>-->
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <p:message for="dobbutton"/>
                    </div>
                </div>

                <div id="salaryBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-3">
                            <h:outputLabel value="Salary:" />
                        </div>

                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-7">
                            <p:inputText id="salary" required="true" label="salary" value="#{employeeView.employeeEntity.salary}"
                                         requiredMessage="Please input your salary."
                                         validatorMessage="Please input your salary correctly.">
                                <f:validateLength minimum="3" maximum="20" />
                            </p:inputText>

                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <p:message for="newFname"/>
                        </div>
                    </div>
                </div>

                <div id="emailBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-3">
                            <h:outputLabel value="Email:" />
                        </div>

                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-7">

                            <p:scrollPanel style="width:200px;height:100px">
                                <p:dataTable id="emailDT" value="#{emailView.emailList}"
                                             var="em" scrollable="true" scrollHeight="100">
                                    <p:column headerText="Email">
                                        <h:outputText  value="#{em}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:scrollPanel>
                        </div>
                    </div>

                    <div  class="ui-grid-row">
                        <div class="ui-grid-col-5"/>
                        <div class="ui-grid-col-3">
                            <p:commandButton value="Add" type="button" onclick="PF('dlg2').show();" />
                            <!--<p:button value="Add" />-->
                        </div>
                    </div>
                </div>

                <div id="statusBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">
                    <div  class="ui-grid-row">
                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-3">
                            <h:outputLabel value="Status:" />
                        </div>
                        <div class="ui-grid-col-1"/>
                        <div class="ui-grid-col-7">
                            <p:selectBooleanCheckbox value="#{employeeView.statusEmployee}">
                                <!--<p:ajax resetValues="Hired" />-->
                                <p:ajax listener="#{employeeView.setEmployeeStatus}"/>
                            </p:selectBooleanCheckbox>
                            <h:outputLabel value="  Not hired  " />
                        </div>
                    </div>

                </div>

                <div id="deleteButtonBlock" class="ui-grid ui-grid-responsive" style="padding-top: 20px;padding-bottom: 10px">
                    <div  class="ui-grid-row">
                        <div class="ui-grid-col-8"/>
                        <div class="ui-grid-col-3">
                            <p:growl id="message" showDetail="true" />
                            <p:commandButton value="Delete" process="@this" update="message">
                                <p:confirm header="Delete Employee" message="Do you want to delete?" icon="ui-icon-alert" />
                            </p:commandButton>

                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:button outcome="employeePage" value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                            </p:confirmDialog>

                        </div>
                        <div class="ui-grid-col-1"/>
                    </div>

                </div>
            </p:layoutUnit>

            <p:layoutUnit position="east" size="300" style="border: transparent">
                <div class="ui-grid ui-grid-responsive">

                    <div id="titleaddPicBlock" class="ui-grid-row">
                        <h:outputLabel value="Employee Image" style="font-weight: bold "/>
                    </div>

                    <div id="addPicBlock" class="ui-grid-row">
                        <div class="ui-grid-col-2"/>
                        <div class="ui-grid-col-2">
                            <p:graphicImage cache="false" id="employeeImage" library="image" value="../image/dog.jpg}" width = "200" height = "200"/>
                        </div>
                    </div>
                    <p:spacer />



                    <div class="ui-grid-row">
                        <p:fileUpload  mode="simple" skinSimple="true"/>
                    </div>
                    <p:spacer />

                    <div class="ui-grid-row">
                        <p:commandButton ajax="false" process="@this" styleClass="color-button1" value="Submit" disabled="false">
                            <p:ajax delay="2000" immediate="true"/>
                        </p:commandButton>
                    </div>
                </div>
            </p:layoutUnit>
        </p:layout>

        <p:dialog header="Telephone" widgetVar="dlg1" minHeight="40">
            <h:form id="formTel">
                <h:outputText value="Insert you Phone no." /><br></br>
                <p:inputText value="#{telephoneView.telNo}"/><br></br>
                <p:commandButton update=":form:telephoneDT" process="@form:formTel" value="Add" actionListener="#{telephoneView.addNoToList}"
                                 oncomplete="PF('dlg1').hide();"/>
            </h:form>
        </p:dialog>
        <p:dialog header="Email" widgetVar="dlg2" minHeight="40">
            <h:form id="fromEmail">
                <h:outputText value="Insert E-mail" /><br></br>
                <p:inputText value="#{emailView.email}"/><br></br>
                <p:commandButton update="form:emailDT" process="@form:fromEmail" value="Add" actionListener="#{emailView.addEmailToList}"
                                 oncomplete="PF('dlg2').hide();"/>
            </h:form>
        </p:dialog>
    </h:form>
</f:view>
</html>
