<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui" >
<f:view>
    <h:head>
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>Employee List</title>
        </f:facet>
    </h:head>
    <h:form id="form">
        <style type="text/css">
            .ui-datatable-header.ui-widget-header.ui-corner-top{
                display: none;
            }
            .ui-column-filter.ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all{
                display: none;
            }
        </style>
        <script type="text/javascript">
            function searchKeyPressedHandler() {
                jQuery(document).delegate("input[name='form:searchFilter']","keyup", function (event) {
                    // alert('searchValue');
                    var searchValue = document.getElementById('form:searchFilter').value;
                    $("#form\\:employeeDatatable\\:globalFilter").val(searchValue);
                    $("#form\\:employeeDatatable\\:globalFilter").trigger('keyup');
                });
            }
            searchKeyPressedHandler();
        </script>
        <div class="ui-grid ui-grid-responsive">

            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <h:outputLabel value="Employee Directory"  style="font-size: 30px" />

                </div>

                <div class="ui-grid-col-6">
                    <!--<h:outputLabel for="searchFilter" value="Search " />-->
                    <h:outputLabel value="Search " />
                    <p:inputText id="searchFilter" required="true" label="search">
                        <f:validateLength minimum="2" maximum="25"/>
                    </p:inputText>
                    <p:message for="searchFilter" />
                </div>
            </div>
        </div>
        <p:spacer/>


        <p:dataTable id="employeeDatatable" value="#{employeeView.employeeList}" var="emp"  style="margin-bottom:40px"
                     selection="#{employeeView.selectedEmployee}" rowKey="#{emp.id}"
                     filteredValue="#{employeeView.filteredEmployee}"
                     widgetVar="empTable" >

            <f:facet name="header" >
                <p:outputPanel>
                    <h:outputText value="Search all fields:" />
                    <p:inputText id="globalFilter" onkeyup="PF('empTable').filter()" style="width:150px" />
                </p:outputPanel>
            </f:facet>
            <!--<p:ajax event="rowSelect" listener="#{employeeView.onRowSelect}"/>-->
            <!--<p:ajax event="rowUnselect" listener="#{employeeView.onRowUnselect}" />-->
            <!--<f:viewParam name="firstname" value="#{employeeView.selectedEmployee.firstName}"/>-->
            <!--<f:viewParam name="lastname" value="#{employeeView.selectedEmployee.lastName}"/>-->

            <p:column headerText="Name(Job Title)" sortBy="#{emp.firstName}" filterBy="#{emp.firstName}" filterMatchMode="contains">
                <h:link value="#{emp.firstName}" outcome="/EditemployeePage.xhtml?faces-redirect=true">
                    <f:param value="#{emp.id}" name="id"/>
                </h:link><br></br>
                <h:outputText value="#{emp.department.name}" />
            </p:column >

            <p:column headerText="Age" >
                <h:outputText value="#{emp.age}" />
            </p:column>

            <p:column headerText="Nickname" filterBy="#{emp.nickName}">
                <h:outputText value="#{emp.nickName}" />
            </p:column>

            <p:column headerText="Employee" filterBy="#{emp.status}">
                <h:outputText value="#{emp.status}" />
            </p:column>
        </p:dataTable>

        <div class="ui-grid ui-grid-responsive">

            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <p:button outcome="employeePage"  value="New Employee" title="Icon Only"/>
                </div>

            </div>
        </div>



        <p:spacer />


    </h:form>
</f:view>
</html>
