<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui" >
<f:view>
    <h:head>

        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>List of Customer</title>
        </f:facet>
    </h:head>

    <h:body>
        <h:form enctype="multipart/form-data">
        <p:layout fullPage="true" >
            <p:layoutUnit position="center" >
                <p:growl id="messages" showDetail="true" />
                <div class="ui-grid ui-grid-responsive" >

                <div id="titleaddPicBlock" class="ui-grid-row" style="padding-top: 10px;padding-bottom: 10px; margin-right: 0px">
                    <div class="ui-grid-col-12" style="text-align: center">
                        <h:outputLabel value="Employee Image" style="font-weight: bold; "/>
                    </div>
                </div>

                <div id="addPicBlock" class="ui-grid-row" style="padding-top: 20px;padding-bottom: 10px">
                    <div class="ui-grid-col-12" style="text-align: center" >
                        <p:graphicImage id="employeeImage" library="resources" name="images/dog.jpg" width = "150" height = "150"/>
                    </div>
                </div>

                <div id="uplaodBlock" class="ui-grid-row" style="padding-top: 20px;padding-bottom: 10px">
                    <div class="ui-grid-col-12" style="text-align: center">
                        <p:fileUpload  value="#{testImage.uploadedFile}" mode="simple" skinSimple="true"/>
                        <p:commandButton value="Submit" ajax="false" actionListener="#{testImage.upload}" />
                    </div>
                </div>

            </div>
            </p:layoutUnit>
        </p:layout>
    </h:form>
    </h:body>
</f:view>
</html>
