<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui" >
<f:view>
    <h:head>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato"/>
        <h:outputStylesheet name="css/custom.css" />
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>List of Customer</title>
        </f:facet>
    </h:head>

    <h:body>
        <h:form>
        <p:layout fullPage="true" >

            <p:layoutUnit position="north" size="70" style="border: transparent">

                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">

                        <div class="ui-grid-col-12">
                            <p:outputLabel value="New Employee" style="float: left; font-size: 30px ;padding-left: 10px; font-family: " />
                            <p:button value="Back" style="float: right"/>

                        </div>

                    </div>
                </div>
            </p:layoutUnit>

            <p:layoutUnit position="center" style="border: transparent">

                <div class="ui-grid ui-grid-responsive" >

                        <div class="ui-grid-col-5">

                            <div id="firstNameBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">
                                <div class="ui-grid-row" >
                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-3">
                                        <h:outputLabel value="First Name:" />
                                    </div>
                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-7">
                                        <p:inputText id="newFname" required="true" label="Name"
                                                     requiredMessage="Please input your first name."
                                                     validatorMessage="Please input your first name correctly.">
                                            <f:validateLength minimum="3" maximum="20" />
                                        </p:inputText>
                                    </div>
                                </div>

                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p:message for="newFname"/>
                                    </div>
                                </div>
                            </div>

                            <div id="genderBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-3">
                                        <h:outputLabel value="Gender:" />
                                    </div>

                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-7">
                                        <p:selectOneRadio id="gender" value="">
                                            <f:selectItem itemLabel="Male" itemValue="Male" />
                                            <f:selectItem itemLabel="Female" itemValue="Female" />
                                        </p:selectOneRadio>
                                    </div>
                                </div>

                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12"/>
                                </div>
                            </div>

                            <div id="departmentBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">
                                <div  class="ui-grid-row">
                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-3">
                                        <h:outputLabel value="Department:" />
                                    </div>

                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-7">
                                        <p:selectOneMenu id="departmemt" style="width:200px" >
                                            <f:selectItem itemLabel="Your department." itemValue="" />
                                            <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
                                            <f:selectItem itemLabel="PS4" itemValue="PS4" />
                                            <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
                                        </p:selectOneMenu>

                                    </div>
                                </div>
                            </div>

                            <div id="telBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-3">
                                        <h:outputLabel value="Telephone:" />
                                    </div>

                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-5">
                                        <p:scrollPanel style="width:200px;height:100px">
                                            <p:dataTable var="car" >
                                                <p:column headerText="Telephone number">
                                                    <h:outputText  />
                                                </p:column>
                                            </p:dataTable>
                                        </p:scrollPanel>
                                    </div>
                                    <div class="ui-grid-col-1">
                                        <p:button icon="ui-icon-plus" />
                                    </div>

                                </div>

                            </div>

                            <div id="nicknameBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-3">
                                        <h:outputLabel value="Nick name:" />
                                    </div>

                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-7">
                                        <p:inputText id="nickname" required="true" label="nickname"
                                                     requiredMessage="Please input your nick name."
                                                     validatorMessage="Please input your nick name correctly.">
                                            <f:validateLength minimum="3" maximum="20" />
                                        </p:inputText>
                                    </div>
                                </div>

                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p:message for="nickname"/>
                                    </div>
                                </div>
                            </div>

                            <div id="buttonBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-6"/>
                                    <div class="ui-grid-col-4" style="padding-bottom: 10px">
                                        <p:button value="Save" />
                                    </div>
                                    <div class="ui-grid-col-4" style="padding-bottom: 10px">
                                        <p:button value="Cancel" />
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="ui-grid-col-5">

                            <div id="lastNameBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-3">
                                        <h:outputLabel value="Last Name:" />
                                    </div>

                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-7">
                                        <p:inputText id="newlname" required="true" label="lastname"
                                                     requiredMessage="Please input your last name."
                                                     validatorMessage="Please input your last name correctly.">
                                            <f:validateLength minimum="3" maximum="20" />
                                        </p:inputText>
                                    </div>
                                </div>

                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p:message for="newlname"/>
                                    </div>
                                </div>

                            </div>

                            <div id="dobBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-3">
                                        <h:outputLabel value="Date of Birth:" />
                                    </div>

                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-7">
                                        <p:calendar id="dobbutton" showOn="button" />
                                    </div>
                                </div>

                                <div class="ui-grid-row">
                                    <p:message for="dobbutton"/>
                                </div>
                            </div>

                            <div id="salaryBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">

                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-3">
                                        <h:outputLabel value="Salary:" />
                                    </div>

                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-7">
                                        <p:inputText id="salary" required="true" label="salary"
                                                     requiredMessage="Please input your salary."
                                                     validatorMessage="Please input your salary correctly.">
                                            <f:validateLength minimum="3" maximum="20" />
                                        </p:inputText>

                                    </div>
                                </div>

                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p:message for="newFname"/>
                                    </div>
                                </div>
                            </div>

                            <div id="emailBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">

                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-3">
                                        <h:outputLabel value="Email:" />
                                    </div>

                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-5">
                                        <p:scrollPanel style="width:200px;height:100px">
                                            <p:dataTable var="car" >
                                                <p:column headerText="Email">
                                                    <h:outputText  />
                                                </p:column>
                                            </p:dataTable>
                                        </p:scrollPanel>
                                    </div>
                                    <div class="ui-grid-col-2" >
                                        <p:button icon="ui-icon-plus" />
                                    </div>
                                </div>
                            </div>

                            <div id="statusBlock" class="ui-grid ui-grid-responsive" style="padding-top: 10px;padding-bottom: 10px">
                                <div  class="ui-grid-row">
                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-3">
                                        <h:outputLabel value="Status:" />
                                    </div>
                                    <div class="ui-grid-col-1"/>
                                    <div class="ui-grid-col-7">
                                        <p:selectBooleanCheckbox >
                                            <p:ajax resetValues="Hired" />
                                        </p:selectBooleanCheckbox>
                                        <h:outputLabel value="  Not hired  " />
                                    </div>
                                </div>

                            </div>

                            <div id="deleteButtonBlock" class="ui-grid ui-grid-responsive" style="padding-top: 20px;padding-bottom: 10px">
                                <div  class="ui-grid-row">
                                    <div class="ui-grid-col-8"/>
                                    <div class="ui-grid-col-3" >
                                        <p:growl id="message" showDetail="true" />
                                        <p:commandButton value="Delete" process="@this" update="message">
                                            <p:confirm header="Delete Employee" message="Do you want to delete?" icon="ui-icon-alert" />
                                        </p:commandButton>

                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                        </p:confirmDialog>

                                    </div>
                                    <div class="ui-grid-col-1"/>
                                </div>

                            </div>

                        </div>

                        <div class="ui-grid-col-2">

                            <div class="ui-grid ui-grid-responsive" >

                                <div id="titleaddPicBlock" class="ui-grid-row" style="padding-top: 10px;padding-bottom: 10px; margin-right: 0px">
                                    <div class="ui-grid-col-12" style="text-align: center">
                                        <h:outputLabel value="Employee Image" style="font-weight: bold; "/>
                                    </div>
                                </div>

                                <div id="addPicBlock" class="ui-grid-row" style="padding-top: 20px;padding-bottom: 10px">
                                    <div class="ui-grid-col-12" style="text-align: center" >
                                        <p:graphicImage id="employeeImage" library="resources" name="images/dog.jpg" width = "150" height = "150"/>
                                    </div>
                                </div>

                                <div id="uplaodBlock" class="ui-grid-row" style="padding-top: 20px;padding-bottom: 10px">
                                    <div class="ui-grid-col-12" style="text-align: center">
                                        <p:fileUpload  mode="simple" skinSimple="true"/>
                                    </div>
                                </div>


                                <!--<div id="uplaodButton" class="ui-grid-row" style="padding-top: 20px;padding-bottom: 10px">-->
                                    <!--<p:commandButton ajax="false" process="@this" styleClass="color-button1" value="Submit" disabled="false">-->
                                        <!--<p:ajax delay="2000" immediate="true"/>-->
                                    <!--</p:commandButton>-->
                                <!--</div>-->

                            </div>
                        </div>

                </div>
            </p:layoutUnit>


        </p:layout>

    </h:form>
    </h:body>
</f:view>
</html>
